html, body { /* Used to let the flex columns use up all the vertical space*/
    height: 100%;
    margin: 0;
} 

li { /* removed the bullet points from the list*/
    list-style: none;
} 

body { /* Flex container */
    display: flex;
    flex-direction: column;
}

/* The numbered sections*/
.first {
    background-color: #1F2937;
    padding: 10px;
    gap: 300px;
    display: flex;
    justify-content: space-between;
}
.second {
    background-color: orange;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}
.third {
    background-color: white;
    padding: 10px;
}
.fourth {
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
}
.fifth {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixth {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seventh {
    background-color: #1F2937;
    padding: 10px;
}

/* first section ~ for styling the flex items in the header links(three links)*/
.Header-Link {
    flex: 1;
    display: flex;
    margin: 0;
    color: white;
    gap: 20px;
    font-size: small;
}
.spacer { /* Empty flex item used for spacing when zooming in and out of webpage */
    flex: 2;
    margin-right: -700px;
}
.Header-Logo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: white;
    margin-left: -130px;
}

/* second section ~ styling the welcome message with image and signup button*/
.second .left-panel{ /* left panel container */
    width: 300px;
    height: 170px;
    margin-left: -50px;
    background-color: #1F2937;
    color: white;
}
.second .left-panel h1 { /* welcome message header */
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second .left-panel p { /* description paragraph under welcome header*/
    font-size: small;
}
.second .left-panel button { /* sign up button */
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: #3882F6;
    cursor: pointer;
}
.second .left-panel button:hover { /* when hovering over button */
    background-color: white;
    color: #3882F6;
}
.second .right-panel { /* right panel container */
    border: solid black;
    display: flex;
    width: 300px;
    height: 170px;
    background-color: rgb(143, 142, 142);
}

/* third section ~ title header*/
.third {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* fourth section ~ programming languages images and text description */
.fourth .info {
    margin-top: -100px;
    width: 80px;
    height: 80px;
}
.fourth .info img {
    border: solid #3882F6;
    border-radius: 10%;
    width: 80px;
    height: 80px;
}
.fourth .info .text {
    text-align: center;
    font-weight: bold;
    color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* fifth section ~ quote and author credit*/
.fifth .quote {
    width: 500px;
    height: 100px;
    color: rgb(59, 59, 59);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.fifth .author {
    width: 450px;
    margin-top: -10px;
    text-align: end;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    color: rgb(59, 59, 59);
}

/* sixth section ~ learn more and sign up button */
.sixth .left-panel{
    width: 300px;
    padding: 15px;
    padding-bottom: 14px;
    background-color: #3882F6;
}
.sixth .left-panel .learn-more {
    padding: 0;
    margin: 0;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sixth .left-panel .sign-up {
    padding: 0;
    margin: 0;
    text-align: left;
    color: white;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sixth .right-panel {
    width: 200px;
    padding: 30px;
    background-color: #3882F6;
    text-align: center;
}
.sixth .right-panel button {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3882F6;
    cursor: pointer;
}
.sixth .right-panel button:hover {
    background-color: white;
    color: #3882F6;
}

/* seventh section ~ footer */
.seventh {
    text-align: center;
    color: white;
    font-size: x-small;
}

